{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}
Edit Word - {{ word_before_edit.word }}
{% endblock title %}

{% block content %}
{{ super() }}
<div class="container">
    <h1 style="color: #0060df;">修改单词</h1>
    <form action="/word/edit/{{ word_id }}" method="post">
        <p>单词</p><input type="text" name="word" value="{{ word_before_edit.word }}" required />
        <p>释义</p><input type="text" name="meaning" value="{{ word_before_edit.meaning }}" required />
        <p>用法</p>
        <textarea name="usage" rows="5" cols="30">{{ word_before_edit.usage }}</textarea>
        <button type="submit" class="button" style="display: block; margin-top: 2%;">修改</button>
    </form>
</div>

{% endblock content %}