<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %}{% endblock title %} - Wordbook</title>
    {% endblock head %}

</head>

<body>{% block content %}
    <div class="navbar">
        <a href="/">
            <b style="font-size: 24px;">Wordbook</b>
        </a>
    </div>
    {% endblock content %}

</body>

</html>